#mainNav{
    background: rgba(0, 0, 0, 0);
}
#mainNav.navbar-shrink{
    background: linear-gradient(to right, rgba(0, 20, 96, .8), rgb(12, 77, 120));
    /* background: rgba(0, 30, 175, .8); */
}


a.nav-link.active{
    background: rgba(0, 42, 255, 0.63) !important;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:hover{
    background: rgba(43, 71, 209, 0.925) !important;
}
.bg-primary{
    background: rgb(13, 118, 225) !important;
}
button.bg-primary{
    background: rgb(16, 13, 225) !important;
}

i.text-color{
    color: rgb(68, 0, 255);
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus{
    background-color: #14158f !important;
}


form input::placeholder{
    color: #fff !important;
}

img.logo_image_trails{
  width: 60px;
  height: 60px;
}

button.revezo-button{
  padding: 10px 10px;
  border-radius: 20%;
  border: 2px solid rgb(68, 0, 255);
  background-color:  rgb(16, 13, 225);
  color: white;
  font-weight: 700;
}


.social-media-link > i{
  color: #9e9e9e;
}

.social-media-link:hover > i{
  color: #fff;
}

/**
 *
 * --------------------------------------------
 *                    Timeline
 * --------------------------------------------
 *
 */

 .timeline {
    margin: 0 0 45px;
    padding: 0;
    position: relative;
  }
  .timeline > div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
  }
  
  .timeline > div::before, .timeline > div::after {
    content: "";
    display: table;
  }
  
  .timeline > div > .timeline-item {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background: #ffffff;
    color: #495057;
    margin-left: 60px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
  }
  
  .timeline > div > .timeline-item > .time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
  }
  
  .timeline > div > .timeline-item > .timeline-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
  }
  
  .timeline > div > .timeline-item > .timeline-header > a {
    font-weight: 600;
  }
  
  .timeline > div > .timeline-item > .timeline-body,
  .timeline > div > .timeline-item > .timeline-footer {
    padding: 10px;
  }
  
  .timeline > div > .timeline-item > .timeline-body > img {
    margin: 10px;
  }
  
  .timeline > div > .timeline-item > .timeline-body > dl, .timeline > div > .timeline-item > .timeline-body ol, .timeline > div > .timeline-item > .timeline-body ul {
    margin: 0;
  }
  
  .timeline > div > .timeline-item > .timeline-footer > a {
    color: #ffffff;
  }
  
  .timeline > div > .fa,
  .timeline > div > .fas,
  .timeline > div > .far,
  .timeline > div > .fab,
  .timeline > div > .glyphicon,
  .timeline > div > .ion {
    background: #adb5bd;
    border-radius: 50%;
    font-size: 15px;
    height: 38px;
    left: 14px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 38px;
  }
  
  .timeline > .time-label > span {
    border-radius: 4px;
    background-color: #ffffff;
    display: inline-block;
    font-weight: 600;
    padding: 5px;
  }
  
  .timeline-inverse > div > .timeline-item {
    box-shadow: none;
    background: #f8f9fa;
    border: 1px solid #dee2e6;
  }
  
  .timeline-inverse > div > .timeline-item > .timeline-header {
    border-bottom-color: #dee2e6;
  }
    